---
layout: default
boxlst: true
title: 分类
---
<div>
  <div class="col-md-12 row translucent-box">
    <div class="page-header"><h1 class="text-center">{{ page.title }}</h1></div>
    {% for category in site.categories %}
    <h4 class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-nowrap"><span class="label label-info"><i class="fa fa-folder-open"></i> <a href="#{{ category[0] }}-ref">{{ category[0] | join: "/" }}</span></a> <span class="badge">{{ category | last | size }}</span></h4>
    {% endfor %}
  </div>
  {% for category in site.categories %}
  <div class="col-md-12 row translucent-box" style="padding-top: 6%" id="{{ category[0] }}-ref">
    <h2><i class="fa fa-folder-open"></i> {{ category[0] | join: "/" }}</h2>
    <ul style="list-style: none">
      {% for node in category[1] %}{% if node.title != null %}{% if group == null or group == node.group %}
      <li class="row"><span class="col-xs-12 col-sm-5 col-md-4 lead text-nowrap" style="font-family: monospace">{{ node.date | date_to_utc | date: "%Y-%m-%d" }} &raquo;</span><span class="col-xs-12 col-sm-7 col-md-8 lead"><a href="{{ BASE_PATH }}{{ node.url }}">{{ node.title }}</a></span></li>
      {% endif %}{% endif %}{% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
