---
layout: default
---
<div class="row translucent">
  <div class="col-xs-12 col-sm-10 col-md-10 col-sm-push-1 col-md-push-1 article">
  {% for post in paginator.posts %}
  <div class="col-xs-12 col-sm-8 col-md-9 tl-title">
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    <span class="hidden-xs">{% for tag in post.tags %}<span class="label label-default"><a href="/tags.html#{{ tag }}-ref">{{ tag | join: "/" }}</span></a> {% endfor %}</span>
  </div>
  <div class="hidden-xs col-sm-4 col-md-3 tl-title text-right">
    <span>{{ post.date | date_to_utc | date: "%Y-%m-%d" }}</span>
  </div>
  {% endfor %}
  </div>
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
  <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; 上一页</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
  {% elsif page == 1 %}
  <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
  {% else %}
  <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
  {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
  <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &raquo;</a></li>
  {% endif %}
</ul>
{% endif %}
