---
layout: default
---

<ul>

	{% for post in paginator.posts %}

	<li>{{ post.date | date_to_string }} » <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>

	{% endfor %}
 
</ul>

<!--
#{% if paginator.total_pages > 1 %}
	<nav>
			{% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
					<a href="javascript:void(0);">{{ page }}</a>
				{% else %}
					<a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a>
				{% endif %}
			{% endfor %}
	</nav>
{% endif %}
-->
