---
layout: default
title: 标签
---
<div class="col-md-12 row translucent-box">
  <h2 class="text-center">全部标签</h2>
  {% for tag in site.tags %}
  <h4 class="col-xs-6 col-sm-4 col-md-4 col-lg-3 text-nowrap"><span class="label label-info"><i class="fa fa-tag"></i> <a href="#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</span></a> <span class="badge">{{ tag | last | size }}</span></h4>
  {% endfor %}
</div>
{% for tag in site.tags %}
<div class="col-md-12 row translucent-box" id="{{ tag[0] }}-ref">
  <h2><i class="fa fa-tag"></i> {{ tag[0] | join: "/" }}</h2>
  <ul class="list-unstyled">
    {% for node in tag[1] %}{% if node.title != null %}{% if group == null or group == node.group %}
    <li><samp class="col-xs-12 col-sm-5 col-md-4 lead text-nowrap">{{ node.date | date_to_utc | date: "%Y-%m-%d" }} &raquo;</samp><span class="col-xs-12 col-sm-7 col-md-8 lead"><a href="{{ node.url }}">{{ node.title }}</a></span></li>
    {% endif %}{% endif %}{% endfor %}
  </ul>
</div>
{% endfor %}
