---
layout: default
title: 标签
---
<div class="row translucent">
  <div class="col-xs-12 col-sm-10 col-sm-push-1">
    {% for tag in site.tags %}
    <h4 class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-nowrap">
      <span class="label label-default"><a href="#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</span></a>
    </h4>
    {% endfor %}
  </div>
</div>
{% for tag in site.tags %}
<div class="row translucent" id="{{ tag[0] }}-ref">
  <div class="col-xs-12 col-sm-10 col-sm-push-1">
    <h3><i class="fa fa-tag"></i> {{ tag[0] | join: "/" }}</h3>
    {% for node in tag[1] %}
    {% if node.title != null %}{% if group == null or group == node.group %}
    <div class="col-xs-12 col-sm-8 col-md-9 tl-title">
      <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
      <span class="hidden-xs">{% for tag in node.tags %}<span class="label label-default"><a href="/tags.html#{{ tag }}-ref">{{ tag | join: "/" }}</span></a> {% endfor %}</span>
    </div>
    <div class="hidden-xs col-sm-4 col-md-3 tl-title text-right">
      <span>{{ node.date | date_to_utc | date: "%Y-%m-%d" }}</span>
    </div>
    {% endif %}{% endif %}
    {% endfor %}
  </div>
</div>
{% endfor %}
