---
layout: default
---
<div class="row">

<div class="col-md-10 col-sm-12 col-xs-12">

    <h1 class="text-center featurette-heading page-header">{{ page.title }}</h1>

    {{ content }}

    <hr class="featurette-divider">

    <div class="col-md-12 jiathis_style_24x24">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_weixin"></a>
        <a class="jiathis_button_renren"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="view_window"></a>
        <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1375229595704992" charset="utf-8"></script>

    <div class="col-md-12 ds-thread"></div>

</div>

<div class="col-md-2 visible-md-block visible-lg-block">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">本站二维码</h3>
        </div>
        <div class="panel-body row">
             <img class="thumbnail col-md-12 col-sm-12 col-xs-12" src="/images/QR.png">
        </div>
    </div>
</div>

</div>

<script type="text/javascript">
var duoshuoQuery = {short_name:"liuxy"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
