<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Liu's Blog : http://blog.chit-chatting.tk/" />

	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

	<title>Liu's Blog</title>
</head>

<body>

<!-- HEADER -->
	<div id="header_wrap" class="outer">
		<header class="inner">

			<h1 id="project_title"><img src="http://ww4.sinaimg.cn/mw690/bf2cf099jw1e7u54z4seij20l90l8mys.jpg" width="50" height="50" />Liu's Blog</h1>
			<h3 id="project_tagline">http://blog.chit-chatting.tk/</h3>

		</header>
	</div>

<!-- MAIN CONTENT -->
	<div id="main_content_wrap" class="outer">
		<section id="main_content" class="inner">
			{{ content }}
		</section>
	</div>

<!-- FOOTER  -->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			<p align="center"><strong>Copyright © 2013 Liu All Rights Reserved.</strong></p>
		</footer>
	</div>

</body>
</html>